<%= form_with(model: @post, local: true, url: confirm_posts_path) do |form| %>
<div class="container">
  <div class="row" class="prof_edit_menu">
    <p class="col-xs-4">≺</p>
    <p class="col-xs-4">新規投稿</p>
    <p class="col-xs-4"><%= form.submit "シェア", class: "save_btn" %></p>
  </div>
</div>

<div>
</div>

<div class="post_content" >
  <%= form.file_field :image %>
  <%= form.text_field :content, :placeholder => "キャプションを書く", class: "new_field" %>
</div>
<% end %>
