.post_user {
  width: 500px;
  text-align: left;
  font-weight: bold;
  margin: auto;
  margin-top: 5rem;
}

.post_name {
  width: 500px;
  text-align: left;
  margin: auto;
}

.post_img {
  margin-top: 2rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post_content {
  width: 500px;
  text-align: left;
  margin: auto;
}

.new_field {
  text-align: left;
  border: 0px;
  margin-top: 2rem;
}

.favorite_index p {
  margin-top: 2rem;
  font-weight: bold;
}
